#passFormWrapper { display: table; width: 100%; height: 30em; text-align: center; }
#passForm { display: table-cell; vertical-align:middle; }
#errorMessage { color: red; }
#spinner { display: none; }

.entry { padding: 0.5em 0 0.5em 1em; border: 1px solid green; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin: 0.5em 0; }
.entry:before { content: ' > '; padding-right: 0.5em; }
.entry .entrySubField { display: none; }
.entry .username:before { content: 'Username: '; }
.entry .password:before { content: 'Password: '; }
.clippy { margin: 0 .2em; }
.entry .notes:before { content: 'Notes: '; }

.entry.expanded .entrySubField {display: block;}
.entry:hover:not(.expanded) .username { display: inline; margin-left: 1em; }
